* {
    margin: 0%;
    max-height: 100%;
    max-width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
    background-color: whitesmoke;
    
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightseagreen;
    font-style: oblique;
    color: white;
    
}


nav {
    overflow: hidden;
    display: flex;
    height: 70px;
    width: 40%;
    justify-content: space-evenly;
    align-items: center;

}
a {
    font-size: 25px;
    text-decoration: none;
    color: white;
    margin: 5px;

}

a:hover {
    color: black;
}


h1 {
    font-size: 30px;
    padding-left: 5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.intro {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 10px;
    font-size: 25px;
    color: white;
    text-align: center;
    height:200px;
    background-color: lightseagreen;
}

.content {
    margin-top: 50px;
    width: 50%;
}

.content h3 {
    padding-left: 5%;
    padding-top: 5%;
    
}


img {
    width: 2100px;
    height: 504px;
}

.welcome {
    position: absolute;
    top: 20%;
    left: 60%;
    font-size: 80px;
    color: white;
    font-weight: bolder;
}

.intro p {
    padding-top: 50px;

}

.faq {
    width: 50%;
    margin-top: 130px;
    font-size: 50px;
    text-align: center;
}

section {
    padding-left: 5%;
    padding-right: 5%;
    height: 500px;
    font-size: 20px;
    display: inline-flex;
}

.ent {
    margin-top: 50px;
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    height: 500px;
    justify-content: space-evenly;
}

.welcomeEnt {
    height: 200px;
    margin-bottom: 100px;
    margin-top: 10px;
    text-align: center;
    font-size: 30px;
}

.welcomeEnt h2 {
    margin-top: 50px;
}

.welcomeEnt p {
    font-size: 25px;
    padding-left: 5%;
    padding-right: 5%;
}
.welcomeLog {
    height: 200px;
    margin-bottom: 50px;
    margin-top: 10px;
    text-align: center;
    font-size: 30px;
}

.welcomeLog h2 {
    margin-top: 50px;
}

.welcomeLog p {
    font-size: 25px;
    padding-top: 1%;
    padding-left: 5%;
    padding-right: 5%;
}

.ssg {
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    height: 500px;
    justify-content: space-evenly;
}

.ssg2 {
    display: flex;
    padding-top: 50px;
    padding-left: 5%;
    padding-right: 5%;
    height: 500px;
    justify-content: space-evenly;
}

.ssgInfo {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 25px;
    text-align: center;
}

.ssgInfo2 {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 25px;
    text-align: center;
}


.log {
    margin-top: 50px;
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    height: 500px;
    justify-content: space-evenly;
   
}

.log2 {
    margin-top: 50px;
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    height: 500px;
    justify-content: space-evenly;
   
}

#img3 {
    border-radius: 12%;
    width: 40%;
}

#img4 {
    border-radius: 12%;
    width: 40%;
}

#img2 {
    border-radius: 12%;
    width: 40%;
}

#img5 {
    border-radius: 12%;
    width: 40%;
   
}

#img6 {
    border-radius: 12%;
    width: 40%;
   
}

#img7 {
    border-radius: 12%;
    width: 40%;
   
}
#img8 {
    width: 50%;
    border-radius: 12%;
}

#img9 {
    width: 50%;
    border-radius: 12%;
}

#img10 {
    width: 50%;
    border-radius: 12%;
}

#img11 {
    width: 50%;
    border-radius: 12%;
}

#img12 {
    width: 50%;
    border-radius: 12%;
}

#img13 {
    width: 50%;
    border-radius: 12%;
}


.log2 p {
    width: 50%;
    font-size: 25px;
    padding-left: 20px;
    padding-top: 200px;
}

.log p {
    width: 50%;
    font-size: 25px;
    padding-top: 200px;
}


footer {
    margin-top: 100px;
    text-align: center;
    height: auto;
}